* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  min-height: 100vh;
}

.logo{
  margin: 15px auto;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  user-select: none;
  cursor: pointer;
}

.container {
  margin: 20px 0;
  height: 25%;
  display: flex;
  flex-direction: column;
}

.search-input {
  margin: auto auto;
  height: 50px;
  width: 60%;

  input {
    font-family: 'Apple', sans-serif;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: #FFFFFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>") no-repeat 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 4px 10px 0 rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: .5em 1em .5em 2.5em;

    &::placeholder {
      color: #838D99;
    }

    &:hover {
      cursor: pointer;
    }
    
    &:focus {
      outline: none;
      box-shadow: 0 4px 10px 0 rgba(255, 255, 0.16);
    }
  }
}

.gifs-container {
  width: 60%;
  margin: 20px auto;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  column-gap: 6px;
  position: relative;
}

.gif {
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
    object-fit: cover;
  }
}

.pagination {
  display: flex;
  margin-top: 20px;
  color: #fff;
  height: 25%;
  flex: auto;
  align-items: flex-end;
}

.pagination-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;

  &__item {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;

    @media (max-width: 720px) {
      padding: 10px 15px;
    }

    @media (max-width: 920px) {
      &:first-child, &:last-child {
        display: none;
      }
    }
  }

  .active {
    background: #fff;
    border-color: #000;
    color: #000;
  }
}

.tags {
  height: 15%;
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  border: 3px solid #fff;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 14px;
  background: #000;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: seagreen;
  }
}

.settings-container {
  color: #ffff;
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 0;
  margin-right: 50px;
}

.settings-icon {
  svg {
    cursor: pointer;
  }
}

.inputs-group {
  margin-top: 20px;
  background: #ffff;
  color: #000;
  border-radius: 7px;
  padding: 10px;
  z-index: 2;

  label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  input {
    text-align: right;
    padding: 2px 5px 2px 2px;

    &:focus {
      outline: none;
    }
  }
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 10px 0;
}

.rating-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.rating-item {
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;

  &.active {
    background: moccasin;
  }
}

.settings-divider {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(216, 216, 216);
}

.concat-gifs {
  label {
    display: flex;
    flex-direction: row;
  }

  input {
    margin-right: 10px;
  }
}