* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(15, 20, 15, 0.96);
  min-height: 100vh;
}

.logo-container {
  width: fit-content;
  margin: 0 auto;
}

.logo {
  padding: 0 10px;
  margin: 15px auto;
  text-align: center;
  color: #fff;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-left: 5px solid;
  border-bottom: 5px solid;
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.current-mode {
  font-size: 14px;
  position: absolute;
  top: 25px;
  left: 127.5px;
  padding: 4px 8px;
  text-wrap: nowrap;
  border-radius: 5px;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    padding: .9em .1em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }

  &:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff #ffffff;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }
}

.sides-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 950px) {
    width: 80%;
  }
}

.modes-menu {
  display: flex;
  width: 70%;
  margin: 40px auto 0 auto;

  @media screen and (max-width: 950px) {
    width: 30%;
  }

  @media screen and (max-width: 770px) {
    width: 40%;
  }
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: 0 auto;
  width: 80%;
}

.menu-item {
  position: relative;
  padding: 15px 15px 7px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
  }

  &:hover {
    background: rgb(7, 144, 183, 0.5);
    //opacity: 0.8;
    //border-radius: 5px;
    //font-size: 18px;
    //position: relative;
    //white-space: nowrap;
    //font-family: europa, sans-serif;
    //font-weight: bold;
    //
    //&.link::before {
    //  height: 0;
    //}
    //
    //&.link--eirene::before {
    //    height: 0;
    //}
  }
}

.link {
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;

  @media screen and (max-width: 1600px) {
    font-size: 17px;
  }

  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }

  @media (max-width: 950px) {
    font-size: 14px;
  }
}

.menu-active {
  background: rgb(7, 144, 183, 0.5);
}
//.link::before {
//  content: '';
//}
//
//.link::before,
//.link::after {
//  position: absolute;
//  width: 100%;
//  height: 1px;
//  background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
//  top: 100%;
//  left: 0;
//  pointer-events: none;
//}

.link--eirene {
  font-family: europa, sans-serif;
  font-weight: bold;
}

//.link--eirene::before {
//  height: 2px;
//  border-radius: 1px;
//  transform: scale3d(1.2, 1, 1);
//  transition: transform 0.2s, opacity 0.2s;
//  transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53);
//}
//
//.link--eirene span {
//  transform: translate3d(0, -4px, 0);
//  display: inline-block;
//  transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
//}
//
//.link--eirene:hover span {
//  transform: translate3d(0, 0, 0);
//  transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
//  transition-duration: 0.4s;
//  transition-delay: 0s;
//}

//.link--active {
//  background: linear-gradient(90deg, hsl(211, 96%, 62%) 0%, hsl(295, 94%, 76%) 100%);
//  padding: 10px;
//  border-radius: 5px;
//  font-size: 18px;
//  position: relative;
//  white-space: nowrap;
//  color: #fff;
//  cursor: pointer;
//  font-family: europa, sans-serif;
//  font-weight: bold;
//}

.settings-item {
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 1600px) {
    align-items: center;
  }

  @media screen and (max-width: 1200px) {
    align-items: flex-end;
  }

  @media screen and (max-width: 770px) {
    width: 60%;
  }
}

.search-container {
  margin: 60px auto 40px;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-input {
  width: 80%;

  input {
    font-family: 'Apple', sans-serif;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: #FFFFFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>") no-repeat 10px 10px;
    background-size: 20px 20px;
    box-shadow: 0 4px 10px 0 rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: .5em 1em .5em 2.5em;

    &::placeholder {
      color: #838D99;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      box-shadow: 0 4px 10px 0 rgba(255, 255, 0.16);
    }
  }
}

.gifs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  width: 80%;
  position: relative;
  grid-auto-flow: dense;

  @media screen and (max-width: 950px) {
    width: 100%;
  }

  @media screen and (max-width: 770px) {
    column-count: 2 !important;
  }
}

.gif {
  position: relative;
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: #2b2727;
  }

  &:hover {
    &:before {
      opacity: 0.5;
    }

    .author {
      opacity: 1;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 3px;
  }

  &-loading {
    border-radius: 3px;
    height: 200px;

    img {
      opacity: 0;
    }
  }

  &-loaded {
    background: none;
  }

  &-hide {
    img {
      opacity: 0;
    }
  }
}

.author {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;

  &-image {
    width: 32px;
    height: 32px;

    img {
      border-radius: 20px;
    }
  }

  &-name {
    font-size: 16px;
    margin: 0 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: Pagul, serif;
  }
}

.pagination {
  display: flex;
  margin-top: 20px;
  color: #fff;
  height: 25%;
  width: 80%;
  flex: auto;
  align-items: flex-end;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;

  &__item {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;

    @media (max-width: 720px) {
      padding: 5px 10px;
    }

    @media (max-width: 920px) {
      &:first-child, &:last-child {
        display: none;
      }
    }
  }

  .active {
    background: #fff;
    border-color: #000;
    color: #000;
  }
}

.tags {
  height: 15%;
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  border: 3px solid #fff;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 14px;
  background: #000;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: seagreen;
  }
}

.inputs-group {
  margin-top: 20px;
  background: #ffff;
  color: #000;
  border-radius: 7px;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 10px 0;
}

.rating-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.rating-item {
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;

  &.active {
    background: moccasin;
  }
}

.settings-divider {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(216, 216, 216);
}

.concat-gifs {
  label {
    display: flex;
    flex-direction: row;
  }

  input {
    margin-right: 10px;
  }
}

.align-center {
  align-items: center;
}